.tittleP {
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.Agregar {
    background-color: #0d6efd;
    color: white;
}

.buttonC {
    margin-right: 5px;
}

.counter {
    text-align: center;
}

.itemsP {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.itemDetail {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 25%;
    margin-left: 25%;
}